Package: io.strem.tv.beta
Version: 5.0.2
Section: misc
Priority: optional
Architecture: all
Installed-Size: 95906664
Maintainer: N/A <nobody@example.com>
Description: Stremio Lite LG - Ultra-low RAM client for webOS 4.x
webOS-Package-Format-Version: 2
webOS-Packager-Version: x.y.x
