Package: io.strem.tv.beta
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Installed-Size: 95906664
Maintainer: N/A <nobody@example.com>
Description: This is a webOS application.
webOS-Package-Format-Version: 2
webOS-Packager-Version: x.y.x
